.footer {
  bottom: 0;
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70px;
  background-color: #ececec;
}

.footer p {
  margin-top: 4px;
}
